@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

video{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}


.image-marvel {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50%;
  margin-top: 200px;
  transform: translate(-50%,-50%) scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marco-marvel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
  margin-top: 400px;
  transform: translate(-50%,-50%) scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-text{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100%;
  margin-left: 48%;
  transform: translate(-50%,-50%) scale(4);
  padding-top: 25px;
  font-family: 'Roboto Condensed';
}
.Register-text{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 95%;
  margin-left: 48%;
  transform: translate(-50%,-50%) scale(4);
  padding-top: 25px;
  font-family: 'Roboto Condensed';
}
.text-label{
  font-family: 'Roboto Condensed';
}
.login-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%) scale(2.5);
  margin-top: 133%;
  margin-left: 50%;
  gap: 10px;
}

.button-class{
  position: absolute;
  margin-top: 140px;
  margin-left: 31%;
  transform: scale(0.8);
  font-family: 'Roboto Condensed';

}

.button-class-register{
  position: absolute;
  margin-top: 102%;
  margin-left: 28%;
  transform: scale(0.8);
  font-family: 'Roboto Condensed';
}

p{
  position: absolute;
  margin-top: -58.6%;
  margin-left: 30%;
  transform: scale(1.5);
}

.button-ocultar{
  position: absolute;
  transform: translate(-50%,-50%) scale(0.15);
  top: 0;
  left: 0;
  margin-top: 45%;
  margin-left: 92%;
}
.button-ocultar:hover{
  filter: brightness(0.5);
}

.content-err {
  position: relative;       
  transform: scale(0.2);
  transition: transform 0.5s ease-in-out;
  margin-top: 5%;
  z-index: 999;
}

.cuadro-err {
  position: absolute;
  z-index: 1;              
  transform: translate(-50%,-50%) scale(0.8);
  margin-left: 50%;
  margin-top: 450px;
}

.button-close { 
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0.9); 
  left: 336px;
  margin-left:50%;
  margin-top: 330px;
}

.button-close:hover{
  filter: brightness(0.5);
}

.logo-jeff {
  position: absolute;
  z-index: 2;
  top: 0;       
  left: -350px;
  transform: translate(-50%,-50%) scale(0.8);
  margin-top: 520px;
  margin-left: 50%;
}

.logo-jeff:hover{
  filter: brightness(0.5);
}

.mensaje-err{
  position: absolute;
  margin-top: 400px;
  margin-left: 15%;
  width: 100%;
  transform: scale(0.5);
  z-index: 3;
}

.registrarse{
  position: absolute;
  margin-top: 500px;
  margin-left:48%;
  z-index: 3;
}

.content-register{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  margin-left: 50%;
  transform: translate(-50%,-50%) ;
}

.mensajeErr-register{
  position: absolute;
  transform: translate(-50%,-50%) scale(0.7);
  margin-top: 23%;
  margin-left: 50%;
  z-index: 3;
  text-align: center;
}


.galacta-1{
  position: absolute; 
  margin-left: 500px;
  margin-top: 220px;
  transform: scale(1.3);
}

.galacta-blur-1{
  position: absolute; 
  margin-left: 420px;
  margin-top: 240px;
  transform: scale(1.3);  
  filter: brightness(0%) blur(15px);
  z-index: -1;
  rotate: -5deg; 
  opacity: 90%;
}

.galacta-2{
position: absolute; 
margin-left: 1240px;
margin-top: 470px;
}

.galacta-blur-2{
position: absolute; 
margin-left: 1330px;
margin-top: 470px;
filter: brightness(0%) blur(15px);
z-index: -1;
rotate: 5deg; 
opacity: 90%;
}

.galacta-3{
position: absolute;
margin-top: 770px;
margin-left: 500px;
scale: 1.2;
}

.galacta-blur-3{
position: absolute;
margin-top: 770px;
margin-left: 430px;
scale: 1.2;
filter: brightness(0%) blur(15px);
z-index: -1;
rotate: -5deg; 
opacity: 90%;
}
.cuadro-texto-comic{
  position: absolute;
  scale: 0.4;
  margin-left: 460px;
  transform: scaleX(1.5); 
  margin-top: -100px;
}
.contenedor-text-1{
  width: 260px;
  height: 100px;
  position: absolute;
  margin-left: 643px;
  margin-top: 40px;
}
.text-1{
  color: black;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 12px;
  text-transform: uppercase;
  font-family: 'Bangers';
  text-align: center;
}
.boton-home{
  position: absolute;
  scale: 0.3;
  margin-left: 130px;
  margin-top: -160px; 
  cursor: pointer; 
  clip-path: inset(400px 330px 420px 250px); 
  transition: scale 0.2s ease-in-out;
}
.div-animado-1{
  width: 260px; 
  height: 54px;
  position: absolute; 
  transform: skew(-26deg);
  margin-top: 320px;
  margin-left: 753px; 
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}
.cuadro-text-comic-2{
  position: absolute;
  scale: 0.3;
  margin-left: 1000px;
  transform: scaleX(2); 
  margin-top: 160px;
}
.contenedor-text-2{
  width: 400px;
  height: 100px;
  position: absolute;
  margin-left: 1100px; 
  margin-top: 330px;
  padding-top: 35px;
  padding-left: 38px; 
  rotate: -5deg;
}
.text-2{
  color: black; 
  font-size: 30px;
  padding-right: 100px;
  font-family: 'Bangers';
  text-align: center;
}
.button-logout{
  position: absolute;
  scale: 0.3;
  margin-left: 340px;
  margin-top: 80px; 
  clip-path: inset(400px 330px 420px 250px); 
  cursor: pointer; 
  transition: scale 0.2s ease-in-out;
}
.div-animado-2{
  width: 260px; 
  height: 54px;
  position: absolute; 
  transform: skew(-26deg);
  margin-top: 560px;
  margin-left: 960px; 
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}
.cuadro-text-comic-3{
  position: absolute;
  scale: 0.7;
  margin-left: 700px; 
  margin-top: 660px;
}
.contenedor-text-3{
  width: 150px;
  height: 150px; 
  position: absolute; 
  margin-left: 840px;
  margin-top: 800px;
}
.text-3{
  color: black; 
  font-size: 20px; 
  text-align: center;
  padding-top: 20px;
    font-family: 'Bangers';

}