<div class="inicio">

  <!--target Video-->
  <video autoplay loop disablePictureInPicture [ngStyle]="{'opacity':!ocultar?'0.5':'1'}">
    <source src="/video/intro-marvel.mp4" type="video/mp4">
  </video>
  
  <div class="content-logout" *ngIf="userlogin">
    <div>
      <img src="/extras/mini-galacta-1.jpg" class="galacta-1">
      <img src="/extras/mini-galacta-1.jpg" class="galacta-blur-1">
      <img src="/extras/cuadro-texto-comic.png" class="cuadro-texto-comic" >
      <div class="contenedor-text-1"><h1 class="text-1">hola viajero, ya estas logeado</h1></div>
      <img src="/extras/boton-de-home.png" class="boton-home" [ngStyle]="{'scale':hover?'0.35':'0.3'}">
      <div class="div-animado-1" (mouseenter)="hover=true" (mouseleave)="hover=false" [ngStyle]="{'border':hover?'3px yellow solid':'','scale':hover?'1.15':'1'}" (click)="RouterHome()"></div>
    
      
    </div>

    <div>
      <img src="/extras/mini-galacta-2.jpg" class="galacta-2">
      <img src="/extras/mini-galacta-2.jpg" class="galacta-blur-2">
      <img src="/extras/cuadro-texto-comic-2.png" class="cuadro-text-comic-2" >
      <div class="contenedor-text-2"><h1 class="text-2">YA TE VAS VIAJERO?</h1></div>
      <img src="/extras/boton-de-logout.png" class="button-logout" [ngStyle]="{'scale':hover2?'0.35':'0.3'}">
      <div class="div-animado-2" (mouseenter)="hover2=true" (mouseleave)="hover2=false" [ngStyle]="{'border':hover2?'3px yellow solid':'','scale':hover2?'1.15':'1'}" (click)="LogoutandRefresh()"></div>
    </div>
    <div>
      <img src="/extras/mini-galacta-3.jpg" class="galacta-3">
      <img src="/extras/mini-galacta-3.jpg" class="galacta-blur-3">
      <img src="/extras/cuadro-texto-comic-3.png" class="cuadro-text-comic-3" >
      <div class="contenedor-text-3"><h1 class="text-3">HORA QUE EMPIECE LA ACCIÓN!!</h1></div>
    </div>
  </div>
  <!--contenedor login-->
  <div class="content-login" *ngIf="!userlogin">
    <div class="image" *ngIf="!ocultar && !recuperar">

      <div class="image-marvel">
        <img src="/logo_and_marco/logo-marvel.png" alt="Imagen dinámica">
      </div>

      <div class="marco-marvel" *ngIf="!showRegister">

        <img src="/logo_and_marco/marco-login.png" alt="Imagen dinámica">

        <div>
          <label class="login-text">LOGIN</label>

          <form (ngSubmit)="onSubmit()">
            <div class="login-container">

              <div>
                <label for="email" class="text-label" >Email:</label>
                <div>
                  <input id="email" class="input-email" placeholder="email" [(ngModel)]="usuario.email" name="email">
                </div>
              </div>

              <div>
                <label for="password" class="text-label">Password:</label>
                <div>
                  <input id="password" class="input-password" placeholder="password" [(ngModel)]="usuario.password"
                    name="password" type="password">
                </div>
              </div>

              <button class="button-class" type="submit">LOGIN</button>

            </div>

            <div>
              <p style="margin-top: -515px;">¿No te acuerdas tu contraseña?<a style="color: #0064fa; cursor: pointer;" (click)="RecuperarCuenta()"> Recuperar</a></p>
              <p>¿No tienes una cuenta? <a (click)="enableRegister()" style="cursor: pointer; color:#0064fa;">Registrate
                  aqui</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--contenedor button-->
    <img src="/logo_and_marco/logo-hidden.png" alt="Imagen dinámica" (click)="methodocultar()" class="button-ocultar"
      [ngStyle]="{'opacity':ocultar?'0.2':'0.6'}">

    <!--contenedor message err-->
    <div class="content-err" [ngStyle]="{'transform':hidenerr?'scale(0.9)':'scale(0)','opacity':ocultar?'0':'1'}">

      <img src="/cuadro-err/button-close.png" alt="button-close" class="button-close" (click)="closeErr()">

      <img src="/cuadro-err/logo-jeff.png" alt="logo-jeff" class="logo-jeff" (click)="playAudio()">

      <h1 class="mensaje-err" *ngIf="!mostrarErrMensaje">
        Ocurrió un problema al iniciar sesión, verifique que haya
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp;escrito todo bien, o tal vez no está registrado!!
      </h1>

      <a class="registrarse" (click)="enableRegister()" style="cursor: pointer; color: #0064fa;"
        *ngIf="!mostrarErrMensaje">registrate aqui</a>

      <h1 class="mensajeErr-register" *ngIf="mostrarErrMensaje">{{mensajeErr}}</h1>

      <img src="/cuadro-err/cuadro-mensaje-error.png" alt="cuadro-err" class="cuadro-err">

    </div>

    <!--contenedor register-->
    <div *ngIf="!ocultar">

      <div class="content-register" *ngIf="showRegister">

        <div class="marco-marvel">

          <img src="/logo_and_marco/marco-login.png" alt="Imagen dinámica">

          <div>
            <label class="Register-text">REGISTER</label>
            <form (ngSubmit)="onSubmitRegister()">

              <div class="login-container">
                <div>
                  <label for="nombre" class="text-label">Nombre:</label>
                  <div>
                    <input id="nombre" class="input-nombre" placeholder="nombre" [(ngModel)]="usuario.nombre"
                      name="nombre" >
                  </div>
                </div>

                <div>
                  <label for="email" class="text-label">Email:</label>
                  <div>
                    <input id="email" class="input-email" placeholder="email" [(ngModel)]="usuario.email" name="email">
                  </div>
                </div>

                <div>
                  <label for="password" class="text-label">Password:</label>
                  <div>
                    <input id="password" class="input-password" placeholder="password" [(ngModel)]="usuario.password"
                      name="password" type="password">
                  </div>
                </div>

                <button class="button-class-register" type="submit">REGISTER</button>

              </div>
              <div>
                <p>¿Tienes una cuenta? <a (click)="enableRegister()" style="cursor: pointer; color:#0064fa;">Logeate
                    aqui</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--RECUPERAR CUENTA-->
    <div class="image" *ngIf="!ocultar && recuperar">

      <div class="image-marvel">
        <img src="/logo_and_marco/logo-marvel.png" alt="Imagen dinámica">
      </div>

      <div class="marco-marvel" *ngIf="!showRegister">

        <img src="/logo_and_marco/marco-login.png" alt="Imagen dinámica">

        <div>
          <label class="login-text">Recuperar Cuenta</label>

          <form (ngSubmit)="onSubmit()">
            <div class="login-container">

              <div>
                <label for="email" class="text-label">Email:</label>
                <div>
                  <input id="email" class="input-email" placeholder="email" [(ngModel)]="usuario.email" name="email">
                </div>
              </div>

              <div>
                  <label for="nombre" class="text-label">Nombre:</label>
                  <div>
                    <input id="nombre" class="input-nombre" placeholder="nombre" [(ngModel)]="usuario.nombre"
                      name="nombre" >
                  </div>
              </div>

              <button class="button-class" type="submit" style="margin-left: 40px;">RECUPERAR</button>

            </div>

            <div>
              <p style="margin-top: -515px;">¿Te acordaste de tu contraseña?<a style="color: #0064fa; cursor: pointer;" (click)="RecuperarCuenta()"> Login</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>