video{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}


.image-marvel {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50%;
  margin-top: 200px;
  transform: translate(-50%,-50%) scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marco-marvel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
  margin-top: 400px;
  transform: translate(-50%,-50%) scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-text{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100%;
  margin-left: 48%;
  transform: translate(-50%,-50%) scale(3);
}
.login-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%) scale(2.5);
  margin-top: 133%;
  margin-left: 50%;
  gap: 10px;
}

.button-class{
  position: absolute;
  margin-top: 140px;
  margin-left: 31%;
  transform: scale(0.8);
}

.button-class-register{
  position: absolute;
  margin-top: 102%;
  margin-left: 28%;
  transform: scale(0.8);
}

p{
  position: absolute;
  margin-top: -58.6%;
  margin-left: 30%;
  transform: scale(1.5);
}

.button-ocultar{
  position: absolute;
  transform: translate(-50%,-50%) scale(0.15);
  top: 0;
  left: 0;
  margin-top: 45%;
  margin-left: 92%;
}
.button-ocultar:hover{
  filter: brightness(0.5);
}

.content-err {
  position: relative;       
  transform: scale(0.2);
  transition: transform 0.5s ease-in-out;
  margin-top: 5%;
  z-index: 999;
}

.cuadro-err {
  position: absolute;
  z-index: 1;              
  transform: translate(-50%,-50%) scale(0.8);
  margin-left: 50%;
  margin-top: 450px;
}

.button-close { 
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0.9); 
  left: 336px;
  margin-left:50%;
  margin-top: 330px;
}

.button-close:hover{
  filter: brightness(0.5);
}

.logo-jeff {
  position: absolute;
  z-index: 2;
  top: 0;       
  left: -350px;
  transform: translate(-50%,-50%) scale(0.8);
  margin-top: 520px;
  margin-left: 50%;
}

.logo-jeff:hover{
  filter: brightness(0.5);
}

.mensaje-err{
  position: absolute;
  margin-top: 400px;
  margin-left: 15%;
  width: 100%;
  transform: scale(0.5);
  z-index: 3;
}

.registrarse{
  position: absolute;
  margin-top: 500px;
  margin-left:48%;
  z-index: 3;
}

.content-register{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  margin-left: 50%;
  transform: translate(-50%,-50%) ;
}

.mensajeErr-register{
  position: absolute;
  transform: translate(-50%,-50%) scale(0.7);
  margin-top: 23%;
  margin-left: 50%;
  z-index: 3;
  text-align: center;
}


.galacta-1{
  position: absolute; 
  margin-left: 500px;
  margin-top: 220px;
  transform: scale(1.3);
}

.galacta-blur-1{
  position: absolute; 
  margin-left: 420px;
  margin-top: 240px;
  transform: scale(1.3);  
  filter: brightness(0%) blur(15px);
  z-index: -1;
  rotate: -5deg; 
  opacity: 90%;
}

.galacta-2{
position: absolute; 
margin-left: 1240px;
margin-top: 470px;
}

.galacta-blur-2{
position: absolute; 
margin-left: 1330px;
margin-top: 470px;
filter: brightness(0%) blur(15px);
z-index: -1;
rotate: 5deg; 
opacity: 90%;
}

.galacta-3{
position: absolute;
margin-top: 770px;
margin-left: 500px;
scale: 1.2;
}

.galacta-blur-3{
position: absolute;
margin-top: 770px;
margin-left: 430px;
scale: 1.2;
filter: brightness(0%) blur(15px);
z-index: -1;
rotate: -5deg; 
opacity: 90%;
}