<div class="inicio" >
  <video autoplay loop disablePictureInPicture [ngStyle]="{'opacity':ocultar ? '1':'0.1'}">
    <source src="/video/intro-marvel.mp4" type="video/mp4">
  </video>

  <div class="image" *ngIf="!ocultar">
    <div class="image-marvel">
      <img src="/logo-marvel.png" alt="Imagen dinámica">
    </div>
    <div class="marco-marvel">
      <img src="/marco-login.png" alt="Imagen dinámica">
      <div>
        <label class="login-text">LOGIN</label>

        <form (ngSubmit)="onSubmit()">
          <div class="login-container">
            <div>
              <label for="username" class="name-label">name:</label>
              <div>
                <input id="username" class="input-username" placeholder="username" [(ngModel)]="usuario.nombre" name="nombre">
              </div>
            </div>

            <div>
              <label for="password" class="password-label">password:</label>
              <div>
                <input id="password" class="input-password" placeholder="password" [(ngModel)]="usuario.password" name="password">
              </div>
            </div>

            <div>
              <label for="email" class="email-label">email:</label>
              <div>
                <input id="email" class="input-email" placeholder="email" [(ngModel)]="usuario.email" name="email">
              </div>
            </div>
            <button class="button-class" type="submit">LOGIN</button>

          </div>
          <div>
            <p>¿No tienes una cuenta? <a href="">Registrate aqui</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <img src="/logo-hidden.png" alt="Imagen dinámica" (click)="methodocultar()" class="button-ocultar" [ngStyle]="{'opacity':ocultar?'0.2':'0.6'}">
</div>