<img src="/extras/perfil.png" class="img-perfil" *ngIf="user.nombre">
<div class="contenedor-text">
<small class="text-name" *ngIf="user.nombre">name: {{user.nombre}}</small>
</div>
<div class="button-home" (click)="home()" *ngIf="user.nombre"></div>
<div class="button-heros" (click)="heros()" *ngIf="user.nombre"></div>
<div class="button-logout" (click)="logout()" *ngIf="user.nombre"></div>
<div class="line-separation" *ngIf="user.nombre"></div>
<h1 class="text-close" *ngIf="user.nombre">CLOSE ACCOUNT</h1>
<div class="button-close-account" (click)="closeAccount()" *ngIf="user.nombre"></div>
<div class="button-google" (click)="LoginWhitGoogle()" [ngStyle]="{'margin-top':user.nombre?'-76px':'-170px'}"></div>
<router-outlet></router-outlet>