<div class="container-1"  >
    <img [src]="hero.urls_img.fondo_url" alt="imagen de fondo" class="Image-fondo"/>
    <div class="Image-png">
        <img [src]="hero.urls_img.personaje_url" alt="imagen png" >
    </div>
    <div>
        @if (hero.nombre.length>12) {
        <div class="heroe-name-1">{{hero.nombre}}</div>
        }@else {
        <div class="heroe-name-2">{{hero.nombre}}</div>   
        }        

        @if (hero.nombre==='doctor strange') {
            <img [src]="hero.urls_img.logo_url" class="img-logo-strange">
        }@else {
        <div class="img-logo-png">
            <img [src]="hero.urls_img.logo_url" alt="imagen-logo"/>
        </div>
        }
    
    </div>

    <div class="description-hero">
        <div class="contenedor-text-name">
            <p class="heroe-name-1-small">{{hero.nombre}}</p>
        </div>
        <div class="contenedor-text-description"></div>
        <h1 class="description-text" >{{hero.descripcion}}</h1>
    </div>
</div>
<!--flecha apuntando abajo-->
<div>
        <div class="parte-linea-1"></div>
        <div class="parte-linea-2"></div> 
        <div class="parte-linea-3"></div>
        <div class="parte-linea-4"></div> 
        <div class="parte-linea-5"></div> 
        <div class="parte-linea-6"></div> 
      
</div>
<!--line of separation-->
<div class="line-of-separation" [ngStyle]="{'background-color': hero.colors.color_1}"></div>
<!--2 page of web-->
<div class="page-2">
    <h1 class="text-abilities">ABILITIES</h1>
    <!--Cuadro Text-->
    <div>
        <img [src]="hero.url_image" alt="img-cuadro" class="img-cuadro-text">
        <h1 class="nombre-cuadro-hero">{{hero.nombre}}</h1>
        
        <div class="cuadro-text-abilities" [ngStyle]="{'background-color': hero.colors.color_2}"></div>
        
        <div style="cursor: pointer; " (click)="cuadro_description('Base Stats','',stats,null)">
            <h1 class="text-base-stat">BASE STATS</h1>
            <div class="paralelogramo-0"></div>
            <div class="parte-flecha-1"></div>
            <div class="parte-flecha-2"></div>
        </div>
    </div>
    <!--cuadro-abilities-->
    <div class="abilities-cuadro">

        <!--basic Attacks-->
        <div class="contenedor-flex-basic">
            <div class="contenedor-text-basic-attack">
                <h1 class="text-attack">{{hero.heroePoder.poderes[0].nombre}}</h1>
            </div>
            
            <div *ngFor="let typeattack of hero.heroePoder.poderes[0].extra.get('attacks');let i=index">
                    <div style="cursor: pointer;" (mouseenter)="hover=i" (mouseleave)="hover=null" [ngStyle]="{'border':hover===i?'3px rgb(255, 251, 0) solid':''}" (click)="cuadro_description(typeattack.name,typeattack.key,null,typeattack.stats[0])">
                        <img [src]="typeattack.url_image" class="img-basic-attack">                        
                        @if (typeattack.key==='click') {
                            <div class="img-click"><img src="/button/mouse-click.png" alt="mouse-click"></div>
                        }@else {
                            <div class="img-anticlick"><img src="/button/mouse-anticlick.png" alt="mouse-click"></div>
                        }
                        <div>
                            <div class="contenedor-type-attack">
                                <div class="contenedor-type-attack-2">
                                    <h1 class="text-abilities-name" >{{typeattack.name}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!--abilities-->
        <div class="contenedor-flex-abilitie">
            <div class="contenedor-text-abilities">
                <h1 class="text-abilitie">{{hero.heroePoder.poderes[1].nombre}}</h1>
            </div>
            
            <div *ngFor="let typeattack of hero.heroePoder.poderes[1].extra.get('abilities');let i=index">
                    <div style="cursor: pointer;" (mouseenter)="hover2=i" (mouseleave)="hover2=null" [ngStyle]="{'border':hover2===i?'3px rgb(255, 251, 0) solid':''}" (click)="cuadro_description(typeattack.name,typeattack.key,null,typeattack.stats[0])">
                        <img [src]="typeattack.url_image" class="img-type-attack-abilities">                        
                        <div style=" z-index: 1;position: absolute; width: 130px;">
                            @if(typeattack.key==='anti-click'){
                            <div class="contenedor-img-anti-click"><img src="/button/mouse-anticlick.png" alt="mouse-click"></div>
                            }@else if (typeattack.key==='click') {
                            <div class="contenedor-img-click"><img src="/button/mouse-click.png" alt="mouse-click"></div>
                            }@else {
                                <h1 class="text-type-attack-key">{{typeattack.key}}</h1>
                            }
                            
                        
                        </div>
                        <div>
                            <div class="contenedor-type-attack-abilitie">
                                <div class="contenedor-type-attack-abilitie-2">
                                    <h1 class="text-abilities-name" >{{typeattack.name}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!--team Ups-->
        <div class="contenedor-flex-team-up-abilitie">
            <div class="contenedor-text-team-up-abilitie">
                <h1 class="text-team-up-abilitie">{{hero.heroePoder.poderes[2].nombre}}</h1>
            </div>
            
            <div *ngFor="let typeattack of hero.heroePoder.poderes[2].extra.get('team_up_abilities');let i=index">
                    <div style="cursor: pointer;" (mouseenter)="hover3=i" (mouseleave)="hover3=null" [ngStyle]="{'border':hover3===i?'3px rgb(255, 251, 0) solid':''}" (click)="cuadro_description(typeattack.name,typeattack.key,null,typeattack.stats[0])">
                        <img [src]="typeattack.url_image" class="img-team-up">                        
                        <div class="contenedor-text-team-up-abilitie-0"><h1 class="texto-team-up-abilitie">{{typeattack.key}}</h1></div>
                        <div>
                            <div class="contenedor-type-attack-team-up-abilitie">
                                <div class="contenedor-type-attack-team-up-abilitie-2">
                                    <h1 class="text-abilities-name" >{{typeattack.name}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!--picture description-->
    <div class="picture-description">

        <div class="parte-cuadro-descripcion">
        <!--text description 1-->
           <div *ngIf="text_descrip_2===null">
            <h1 class="text-base-stat-caudro-description">{{text_descrip}}</h1>
           </div>
        <!--text description 2-->
           <div *ngIf="text_descrip_2!==null">
            <div class="paralelogramo-cuadro-description">
                <h1 class="text-abilitie-cuadro-description">{{text_descrip}}</h1>
                <div class="paralelogramo" [ngStyle]="{'width':text_descrip_2.length>3?'170px':'100px'}">
                    @if (text_descrip_2==='click') {
                        <img src="/button/mouse-click.png" class="img-click-cuadro-description">
                    }@else if (text_descrip_2==='anti-click') {
                        <img src="/button/mouse-anticlick.png" alt="mouse-click" class="img-anti-click-cuadro-description">
                    }@else {
                        <h1 class="text-key-cuadro-description">{{text_descrip_2}}</h1>
                    }
                </div>
            </div>
           </div>
        </div>

        <div class="contenedor-fondo-cuadro-description">
            <div class="contenedor-fondo-cuadro-description-2" >
                @if (stats) {
                    <div *ngFor="let stat of stats">
                        <div>
                            <div class="text-description">{{stat.nombre}}</div>
                            <div class="linea-fondo-cuadro-description"></div>
                            <h1 class="class-text-base-stast">{{stat.cantidad}}</h1>
                        </div>
                        
                    </div>
                }@else {
                    @if (stats_attack) {
                        <div *ngFor="let stats_att of stats_attack">
                            <div>
                                <div class="text-description">{{stats_att[0].replaceAll("_"," ")}}</div>
                                <div class="linea-fondo-cuadro-description"></div>
                                <h1 class="class-text-stast" [ngStyle]="getDynamicStyles(stats_att[1])">{{stats_att[1]}}</h1>    
                            </div>
                        </div>
                        <div></div>
                    }
                    
                }
                    
            </div>
        </div>
    </div>
    
</div>
<!--line of separation-->
<div class="line-of-separation" [ngStyle]="{'background-color':hero.colors.color_2}"></div>
<!--3 page of web-->
<div class="fondo-page-3">
    <div style="position: relative; z-index: 2;">
        <h1 class="text-lore">LORE</h1>
        <div class="picture-pag3" [ngStyle]="{'width':hero.nombre.length>9?'200px':'100px'}">{{hero.nombre}}</div>
        <div class="line-page-3"></div>
        <h1 class="text-description-lore-page-3">{{hero.lore}}</h1>
    </div>
    <img src="/extras/marvel-logo.png" class="img-marvel-logo">
    <img [src]="hero.urls_img.url_img_logo_pj" class="img-personaje-logo-fondo" >
</div>
<div class="contenedor-credits">
    <div>
        <img src="/extras/logo-NeatEase.png" class="img-logo-NeatEase">
        <img src="/extras/logo-marvel.png" class="img-logo-marvel">
        <h1 class="text-copy-marvel">©2025 MARVEL</h1>
        <h1 class="text-copy-marvel-2">©1997-2025 NetEase,Inc. All Rights Reserved</h1>
        <img src="/extras/teen-logo.png" class="img-teen-logo">
    </div>
</div>