    <div style="position: relative;z-index: 999;width: 1650px; height: 60px; position: relative; margin-left: 130px;margin-top: 20px;">
        <input style="height: 60px;width: 1650px;background-color: rgb(34, 34, 34); border: 1px yellow solid; color: white; padding-left: 20px;font-size: 17px;" placeholder="Nombre del Heroe (Si se equivoca, borrar todo)" (input)="SearchHero($event)">
    </div>

<div><!--contenedor de todo-->

    <img src="/home/imagen-home.jpg" alt="home" class="image-home">
    

    <!--contenedor de los heroes en grid-->
    <div class="heros-container">
        <!--es un div que hace de for-->
        <div *ngFor="let hero of heros; let i=index ">

            <!--contenido de cada casilla del grid-->
            <div class="heros" (click)="selectHero(hero)" (mouseenter)="hover=i" (mouseleave)="hover=null" 
            [ngStyle]="{'transform':hover===i?'scale(1.3)':'scale(1)','z-index':hover===i?'999':''}">

            <img [src]="hero.url_image" alt="imagen-hero" class="img-hero" *ngIf="hover!==i">


            <video [src]="hero.url_video" class="img-hero" autoplay [muted]="true" disablePictureInPicture *ngIf="hover===i"></video>
             
            
            <img src="/home/tarjetas-hero.png" alt="imagen-tarjeta" class="tarjetas-hero">
            <div class="class-div" [ngStyle]="{'margin-top':hover===i?'-10px':''}">{{hero.nombre}}</div>        
            </div>
        </div>
    </div>
</div>