@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-color: black; /* o #000 */
    color: white; /* Opcional, para que el texto sea legible */
    
}
.text-home{
    margin-left: 370px;
    padding-top: 33px;
    font-size: 25px;
    display: block;
    clip-path: inset(0px 1020px 0px 0px);
    font-family: 'DM Serif Text';
}
.text-heros{
    margin-left: 570px;
    margin-top: -40px;
    font-size: 25px;
    display: block;
    clip-path: inset(0px 1020px 0px 0px);
    font-family: 'DM Serif Text';

}
.text-logout{
    margin-left: 780px;
    margin-top: -40px;
    font-size: 25px;
    display: block;
    clip-path: inset(0px 1020px 0px 0px);
    font-family: 'DM Serif Text';

}